# Common editor files
*~
\#*\#
*.orig
*.bak

fonts/
CascadiaCode.zip

# Typst outputs
*.pdf
# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# HTML/SVG out
/public/
