# Common editor files
*~
\#*\#
*.orig
*.bak

fonts/
CascadiaCode.zip

# Typst outputs
*.pdf
#
# polylux2pdfpc
*.pdfpc

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Output directories
/pdf/
/svg/
/public/

# Recordings
*.mkv
